.container{
  padding: 20px;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
}


.row{
  display: flex;
  flex-direction: row;
}

.cards{
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}


.card{
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 15px;
    width: 180px;
    box-shadow: 2px 2px 8px rgba(0,0,0,0.1);
    transition: 0.2s;
}

.card-hover{
    transform: scale(1.05);
}